.navbar{
    position: sticky;
    top: 50px;
}
.navbar__items{
    margin: 0;
    display: flex;
    padding: 10px;
    list-style: none;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    border-right: 2px solid rgb(27, 24, 24);
}
.navbar__item{
    text-decoration: none;
    color: rgb(37, 128, 37);
    font-weight: bold;
    padding: 0.2rem 0;
    text-align: bottom;
    vertical-align: bottom;
}
.navbar__item >*{
    text-decoration: none;
}

.navbar__items__item_active{
    color: black;
}
.navbar__item > *:hover,
.navbar__item > *:active {
    color: rgb(17, 1, 1);
    border-bottom: 5px solid rgb(194, 151, 87);
}
